/* .LoginPage {
  margin: 15rem auto;  
  box-shadow: 0 1px 8px rgba(117, 101, 71, 0.2); 
  width: 50rem; */
  /* height: 25rem; */
  /* border-radius: 8px;
  padding: 1rem; */
  /* text-align: center;  */
  /* background-color: rgb(168, 159, 145); */
/* } */

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: #616161;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.control input {
  display: block;
  width: 20rem;
  margin: auto;
  border-radius: 4px;
  padding: 0.25rem;
  border: 1px solid #ccc;
}

.button {
  background-color: rgb(80, 54, 21);

}

.label {
  font-weight: bold;
}

h1{
  text-align: center !important;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}


.auth {
  margin: 5rem auto;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  width: 25rem;
  border-radius: 8px;
  padding: 1rem;
  /* text-align: center; */
  background-color: #f4f0fa; 
}

.center-screen-form{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.colorText{
  color: gray;
  margin-bottom: 0.1rem;
  margin-left: 2.5rem !important;
}