.profile {
  margin: 5rem auto;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  width: 40rem;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  background-color: #f4f0fa;
}

.colorStyle{
  margin-left: 2.5rem !important;
  font-weight: bold;
}

.horizontalMargin{
  margin-right: 50px;
}

.cartMovie{
  width: 18rem;
  height: 22rem;
}

/* .imgSize{
  width: 200%;
  height: 20vh;
  object-fit: cover;
} */